/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  background: #F8F5EC !important;
}

body {
  background: #F8F5EC !important;
}

.wrapper {
  font-family: "Roboto", sans-serif;
  width: 80%;
  margin-left: 17%;
  overflow:auto;
}

.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto Slab", serif;
  background: #F8F5EC;
  border-bottom: 1px solid #F4EDDC;
  padding: 0px 30px 0px 30px !important;
}

.buttons {
  display: flex;
  width: 40px;
  justify-content: space-between;
  padding-left: 5px;
}

ul {
  list-style-type: none;
  padding-top: 10px;
}

li {
  padding-bottom: 15px;
}

#title {
  font-family: "Roboto Slab", serif;
  font-size: 20px;
}

.show {
  margin-left: 30px;
}

.form {
  margin-left: 30px;
}
